# Lombok no copia @Qualifier a los parametros del constructor generado salvo que se declare aqui.
# Sin esto, inyectar uno de varios RestTemplate con @RequiredArgsConstructor falla al arrancar.
config.stopBubbling = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
